<form class="user-signup" method="POST" action="/user">
  <h2>User Signup Form</h2>

  <input type="text" class="form-control" placeholder="Name" name="user[name]" />

  <input type="text" class="form-control" placeholder="Email" name="user[email]" />

  <input type="text" class="form-control" placeholder="Password" name="user[password]" />

  <input type="text" class="form-control" placeholder="Confirm Password" name="user[conformPassword]" />

</form>
